<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cellz.clothing</title>
  <link rel="stylesheet" href="/icon/themify-icons-font/themify-icons/themify-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<style>
  *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: montserrat;
}
/*Menu*/
ul{
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -240px;
  width: 240px;
  background: #1e1e1e;
  height: 100vh;
  overflow-y: auto;
  transition: all .3s;
}
ul li{
  height: 65px;
  outline: none;
}
ul li a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color: white;
  padding-left: 10%;
  background: #1e1e1e;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  border-left: 5px solid transparent;
}
li a.contact{
  border-bottom: 1px solid rgba(0,0,0,.5);
}
.active a{
  color: #464444;
  border-left: 5px solid #fff;
  background: #1B1B1B;
}
/*Home menu*/
.menu-img{
  width: 800px;
  height: 400px;
  margin-left: 400px;
  margin-top: 80px;
}
.menu-home{
  display: inline;
  margin-left: 750px;
}
.menu-home a{
  margin-top: 10px;
  font-size: 30px;
  color: #000;
  text-decoration-line: underline;
}
/*content*/
section{
  margin-left: 0px;
  transition: all .3s;
}
i{
  position: fixed;
  margin: 20px 25px;
  font-size: 30px;
  color: #000;
  cursor: pointer;
}
.sec1{
  margin-left: -20px;
  background-size: cover;
  height: 100vh;
}
.sec2{
  margin-left: -20px;
  background-size: cover;
  height: 100vh;
}
.sec3{
  margin-left: -20px;
  background-size: cover;
  height: 100vh;
}
.sec4{
  margin-left: -20px;
  background-size: cover;
  height: 100vh;
}
.sec5{
  margin-left: -20px;
  background-size: cover;
  height: 100vh;
}
.sec6{
  margin-left: -20px;
  background-size: cover;
  height: 100vh;
}
h2{
  font-size: 40px;
  padding: 15px 20px;
}
p{
  padding: 0 20px 10px 20px;
  text-align: justify;
}
.ul_show{
  margin-left: 0px;
}
.slide_image{
  margin-left: 260px;
}
/*San pham */
.menu-product{
  width: 100%;
  text-align: center;
  margin-left: 10px;
}
.btn--add-product{
  color: #fff;
  margin-left: 40px;
  background-color: #000;
  padding: 0 10px ;
  font-size: 20;
  height: 35px;
}
.btn--add-product a{
  color: #fff;
}
.menu-product th{
  padding-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
  padding: 20px 30px;
}
.menu-product .item-img{
  width: 100px;
  height: 100px;
}
.menu-product td{
  padding: 20px 20px;
  border-bottom: 2px solid #dddddd;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: #333;
  margin-top: 10px;
}
.menu-product button{
  color: #fff;
  background-color: #000;
  padding: 0 10px ;
  font-size: 20;
  height: 35px;
}
.menu-product button:hover{
  cursor: pointer;
  background-color: #464444;
}
/* Thêm sản phẩm */
.add-product{
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  background: #1e1e1e;
  height: 100vh;
  overflow-y: auto;
  /* transition: all .3s; */
}
.add-product-show{
  padding: 0px;
}
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 600px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  font-size: 20px;
}
.modal-close {
  cursor: pointer;
}
.product-add-content{
  font-size: 15px;
  padding: 10px 10px;
}
.product-add-content input{
  margin-top: 10px;
  width: 98%;
  height: 30px;
  border: 2px solid #464444;
  padding-left: 6px;
  margin-bottom: 10px;
}
.size span{
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #dddddd;
  margin: 12px 10px 12px 0;
  font-size: 12px;
  cursor: pointer;
  background-color: #ccc;
}
.btn--pick:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.auth-form__controls{
  margin-left: 500px;
  margin-top: 5px;
  display: inline-block;
}
.btn--save , .btn--exit{
  margin-left: 40px;
  background-color: #000;
  padding: 10px 10px ;
  font-size: 20;
  height: 35px;
  width: 50px;
  color: #fff;
}
.btn--exit:hover, .btn--save:hover{
  cursor: pointer;
  background-color: rgb(43, 42, 42);
}


/*Khach hang*/
.menu-client{
  width: 100%;
  text-align: center;
  margin-left: 20px;
}
.menu-client th{
  padding-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
  padding: 20px 40px;
}
.menu-client td{
  padding: 20px 20px;
  border-bottom: 2px solid #dddddd;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: #333;
}
.menu-client button{
  color: #fff;
  background-color: #000;
  padding: 0 10px ;
  font-size: 20;
  height: 35px;
}
.menu-client button:hover{
  cursor: pointer;
  background-color: #464444;
}
/* update client */
.update-user{
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  background: #1e1e1e;
  height: 100vh;
  overflow-y: auto;
  /* transition: all .3s; */
}
.update-user{
  padding: 0px;
}
.user-update-content{
  font-size: 15px;
  padding: 10px 10px;
}
.user-update-content input{
  margin-top: 10px;
  width: 98%;
  height: 30px;
  border: 2px solid #464444;
  padding-left: 6px;
  margin-bottom: 10px;
}
.auth-form__controls{
  margin-left: 500px;
  margin-top: 5px;
  display: inline-block;
}
.btn--save , .btn--exit{
  margin-left: 40px;
  background-color: #000;
  padding: 10px 10px ;
  font-size: 20;
  height: 35px;
  width: 50px;
  color: #fff;
}
.btn--exit:hover, .btn--save:hover{
  cursor: pointer;
  background-color: rgb(43, 42, 42);
}



/* Đơn hàng */
.menu-theorder{
  width: 100%;
  text-align: center;
  margin-left: 0px;
}
.menu-theorder th{
  padding-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
  padding: 20px 20px;
}
.menu-theorder td{
  padding: 15px 15px;
  border-bottom: 2px solid #dddddd;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  color: #333;
}
.menu-theorder button{
  color: #fff;
  background-color: #000;
  padding: 0 5px ;
  font-size: 15px;
  height: 25px;
}
.menu-theorder button:hover{
  cursor: pointer;
  background-color: #464444;
}
.btn--add-cart{
  margin-left: 40px;
  background-color: #000;
  padding: 0 10px ;
  font-size: 20;
  height: 35px;
}
.btn--add-cart a{
  color: #fff;
}
/* them don hang */
.add-theorder{
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  background: #1e1e1e;
  height: 100vh;
  overflow-y: auto;
  /* transition: all .3s; */
}
.add-theorder-show{
  padding: 0px;
}
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 620px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  font-size: 15px;
}
.modal-close {
  cursor: pointer;
}
.theorder-add-content{
  display: inline;
  font-size: 15px;
  padding: 10px 10px;
}
.theorder-add-content input{
  display: table;
  margin-top: 10px;
  width: 70%;
  height: 30px;
  border: 2px solid #464444;
  padding-left: 6px;
  margin-bottom: 10px;
}
.auth-form__controls{
  margin-left: 530px;
  margin-top: 5px;
  display: inline-block;
}
.btn--save , .btn--exit{
  margin-left: 40px;
  background-color: #000;
  padding: 10px 10px ;
  font-size: 20;
  height: 35px;
  width: 50px;
  color: #fff;
}
.btn--exit:hover, .btn--save:hover{
  cursor: pointer;
  background-color: rgb(43, 42, 42);
}


/* Danh muc */
.menu-category{
  width: 100%;
  text-align: center;
  margin-left: 0px;
}
.menu-category th{
  padding-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
  padding: 20px 20px;
}
.menu-category td{
  padding: 15px 15px;
  border-bottom: 2px solid #dddddd;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  color: #333;
}
.menu-category button{

  color: #fff;
  background-color: #000;
  padding: 0 5px ;
  font-size: 15px;
  height: 25px;
}
.menu-category button:hover{
  cursor: pointer;
  background-color: #464444;
}
.btn--add-cate{
  margin-left: 40px;
  background-color: #000;
  padding: 0 10px ;
  font-size: 20;
  height: 35px;
}
.btn--add-cate a{
  color: #fff;
}
/* them danh muc */
.add-category{
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  background: #1e1e1e;
  height: 100vh;
  overflow-y: auto;
  /* transition: all .3s; */
}
.add-category-show{
  padding: 0px;
}
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 620px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  font-size: 15px;
}
.modal-close {
  cursor: pointer;
}
.category-add-content{
  display: inline;
  font-size: 15px;
  padding: 10px 10px;
}
.category-add-content input{
  display: table;
  margin-top: 10px;
  width: 70%;
  height: 30px;
  border: 2px solid #464444;
  padding-left: 6px;
  margin-bottom: 10px;
}
.auth-form__controls{
  margin-left: 530px;
  margin-top: 5px;
  display: inline-block;
}
.btn--save , .btn--exit{
  margin-left: 40px;
  background-color: #000;
  padding: 10px 10px ;
  font-size: 20;
  height: 35px;
  width: 50px;
  color: #fff;
}
.btn--exit:hover, .btn--save:hover{
  cursor: pointer;
  background-color: rgb(43, 42, 42);
}
</style>

</head>
<body>
<!--Menu-->
<ul class="ul_show">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#product">Product</a></li>
  <li><a href="#client">Client</a></li>
  <li><a href="#theorder">The order</a></li>
  <li><a href="#category">Category</a></li>
  <li><a href="#statistic">Statistic</a></li>
  <li><a href="">Log Out</a></li>
</ul>
<div class="menu-pic">
<img src="./assets/img/Slider/Slider1.png" alt=""class="menu-img">
</div>
<div class="menu-home">
  <a href="" class="btn--withicon">Back Home</a>
</div>


<!--Content-->
<section class="slide_image">
<!--Sản phẩm-->
<div class="sec1"></div>
  <h2 id="product">Product</h2>
  <button class="btn--add-product">Add More</button>
  <div class="menu-product">
    <table>
      <tr>
        <th>Id </th>
        <th>Id Cate</th>
        <th>Item</th>
        <th>Name Item</th>
        <th>Size</th>
        <th>QUANTITY</th>
        <th>PRICE</th>
      </tr>
      <tr>
        <form action="" method="post">
          <td>1</td>
          <td>2</td>
          <td><img src="./assets/img/item/ga2.jpg" alt="" class="item-img"></td>
          <td><p>Sinra</p></td>
          <td><span>S</span></td>
          <td> <span>12</span> </td>
          <td> <span>1200000</span> </td>
          <td><button class="btn--upda-product">Update</button></td>
          <td><button type="submit" name="action" value="delete">Delete</button></td>
        </form>
      </tr>
    </table>
  </div>
<!-- thêm sản phẩm -->
<div class="modal-container" id="myModal1">
<div class="modal">
    <div class="modal-header">
      <h2>Product</h2>
    </div>
    <div class="add-product">
      <form action="" method="post">
        <div class="product">
          <div class="product-add-content">
            <label for="">Id Category</label>
            <input type="text" name="idCategory">
          </div>

          <div class="product-add-content">
            <label for="">Name Item</label>
            <input type="text" name="nameItem">
          </div>

          <div class="product-add-content">
            <label for="">Size</label>
            <div class="size">
              <span>XS</span>
                <span>S</span>
                <span>M</span>
                <span>L</span>
            </div>
          </div>

          <div class="product-add-content">
            <label for="">Quantity</label>
            <input type="text" name="quantity">
          </div>

          <div class="product-add-content">
            <label for="">Price</label>
            <input type="text" name="price">
          </div>

          <div class="product-add-content">
            <label for="">Image</label>
            <button class="btn--pick" type="submit">Pick your image</button>
          </div>

          <div class="auth-form__controls">
            <button class="btn--save" type="submit">Save</button>
            <button class="btn--exit">Exit</button>
          </div>
        </div>
      </form>
    </div>
</div>
</div>


<!--Khách hàng-->
  <div class="sec2"></div>
  <h2 id="client">Client</h2>
  <div class="menu-client">
    <table>
      <tr>
        <th>Id </th>
        <th>Id Acc</th>
        <th>Name</th>
        <th>Adress</th>
        <th>Phone Number</th>
      </tr>
      <tr>
          <td>1</td>
          <td>1</td>
          <td><p>Phuong Anh</p></td>
          <td><p>Than Xuan Ha Noi</p></td>
          <td> <span>0337295656 </span> </td>
          <td><button class="btn--update-user">Update</button></td>
          <td><button type="submit" name="action" value="delete">Delete</button></td>
      </tr>
    </table>
  </div>
<!--Sua khach hang-->
<div class="modal-container" id="myModal2">
<div class="modal">
    <div class="modal-header">
      <h2>Client</h2>
    </div>
    <div class="update-user">
      <form action="" method="post">
        <div class="user">
          <div class="user-update-content">
            <label for="">Id Account</label>
            <input type="text" name="idAccount">
          </div>

          <div class="user-update-content">
            <label for="">Name</label>
            <input type="text" name="name">
          </div>

          <div class="user-update-content">
            <label for="">Address</label>
            <input type="text" name="address">
          </div>

          <div class="user-update-content">
            <label for="">Phone Number</label>
            <input type="text" name="phoneNumber">
          </div>
          <div class="auth-form__controls">
            <button class="btn--save" type="submit">Save</button>
            <button class="btn--exit" type="submit">Exit</button>
          </div>
        </div>
      </form>
    </div>
</div>
</div>


<!--Đơn hàng-->
<div class="sec3"></div>
<h2 id="theorder">The Order</h2>
<button class="btn--add-cart"><a style="text-decoration: none" href="">ADD</a></button>
<div class="menu-theorder">
  <table>
    <tr>
      <th>Id</th>
      <th>Id User</th>
      <th>Name User</th>
      <th>Adress</th>
      <th>Phone Number</th>
      <th>Quantity</th>
      <th>Total amount</th>
      <th>Time</th>
      <th>STATUS</th>
    </tr>
    <tr>
      <form action="" method="post">
        <td>1</td>
        <td>1</td>
        <td><p>Phuong Anh</p></td>
        <td><p>Than Xuan Ha Noi</p></td>
        <td> <span>0337295656 </span> </td>
        <td> <span>2</span> </td>
        <td> <span>2200000</span> </td>
        <td> <span>18/12/2023</span> </td>
        <td> <span>Are delivering</span> </td>
        <td><button class="btn--upda-cart">Update</button></td>
        <td><button type="submit" name="action" value="delete">Delete</button></td>
      </form>
    </tr>
  </table>
</div>
<!--Them don hang-->
<div class="modal-container" id="myModal3">
<div class="modal">
    <div class="modal-header">
      <h2>The Order</h2>
    </div>
    <div class="add-theorder">
      <form action="" method="post">
        <div class="theorder">
          <div class="theorder-add-content">
            <label for="">Id User</label>
            <input type="text" name="idUser">
          </div>

          <div class="theorder-add-content">
            <label for="">Name User</label>
            <input type="text" name="nameUser">
          </div>

          <div class="theorder-add-content">
            <label for="">Address</label>
            <input type="text" name="address">
          </div>

          <div class="theorder-add-content">
            <label for="">Phone Number</label>
            <input type="text" name="phoneNumber">
          </div>

          <div class="theorder-add-content">
            <label for="">Quantity</label>
            <input type="text" name="quantity">
          </div>
          <div class="theorder-add-content">
            <label for="">Total Amount</label>
            <input type="text" name="totalAmount">
          </div>
          <div class="theorder-add-content">
            <label for="">Status</label>
            <input type="text" name="status">
          </div>
          <div class="auth-form__controls">
            <button class="btn--save" type="submit">Save</button>
            <button class="btn--exit" type="submit">Exit</button>
          </div>
        </div>
      </form>
    </div>
</div>
</div>


<!--Danh muc-->
<div class="sec4"></div>
<h2 id="category">Category</h2>
<button class="btn--add-cate"><a style="text-decoration: none" href="">ADD</a></button>
<div class="menu-category">
  <table>
    <tr>
      <th>Id</th>
      <th>Name Category</th>
    </tr>
    <tr>
      <form action="" method="post">
        <td>1</td>
        <td><p>Dress</p></td>
        <td><button class="btn--upda-cate">Update</button></td>
        <td><button type="submit" name="action" value="delete">Delete</button></td>
      </form>
    </tr>
  </table>
</div>
<!--Them danh muc-->
<div class="modal-container" id="myModal4">
<div class="modal">
    <div class="modal-header">
      <h2>Category</h2>
    </div>
    <div class="add-category">
      <form action="" method="post">
        <div class="category">
          <div class="category-add-content">
            <label for="">Id Category</label>
            <input type="text" name="idAccount">
          </div>

          <div class="category-add-content">
            <label for="">Name</label>
            <input type="text" name="name">
          </div>

          <div class="auth-form__controls">
            <button class="btn--save" type="submit">Save</button>
            <button class="btn--exit" type="submit">Exit</button>
          </div>
        </div>
      </form>
    </div>
</div>
</div>


<!--Thống kê-->
<div class="sec5"></div>
<h2 id="statistic">Statistic</h2>
<form action="" method="post">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eveniet asperiores error tempora ea</p>
</form>
<div class="sec6"></div>
</section>

<script>
// San pham
function openModal1() {
  document.getElementById('myModal1').style.display = 'flex';
}
function closeModal1() {
  document.getElementById('myModal1').style.display = 'none';
}
window.onclick = function(event) {
  if (event.target == document.getElementById('myModal1')) {
      closeModal1();
  }
};

$(document).ready(function(){
  $('li').click(function(){
    $(this).addClass('active').siblings().removeClass('active');
  });

$('button.btn--add-product').click(function(){
        $('.add-product').removeClass('add-product').addClass('add-product-show');
        openModal1(); // Gọi hàm openModal() khi thêm class add-product-show

})
})

//khach hang
function openModal2() {
  document.getElementById('myModal2').style.display = 'flex';
}
function closeModal2() {
  document.getElementById('myModal2').style.display = 'none';
}
window.onclick = function(event) {
  if (event.target == document.getElementById('myModal2')) {
      closeModal2();
  }
};

$(document).ready(function(){
  $('li').click(function(){
    $(this).addClass('active').siblings().removeClass('active');
  });

$('button.btn--update-user').click(function(){
        $('.update-user').removeClass('update-user').addClass('update-user-show');
        openModal2();

})
})

//don hang
function openModal3() {
  document.getElementById('myModal3').style.display = 'flex';
}
function closeModal3() {
  document.getElementById('myModal3').style.display = 'none';
}
window.onclick = function(event) {
  if (event.target == document.getElementById('myModal3')) {
      closeModal3();
  }
};

$(document).ready(function(){
  $('li').click(function(){
    $(this).addClass('active').siblings().removeClass('active');
  });

$('button.btn--add-cart').click(function(){
        $('.add-theorder').removeClass('add-theorder').addClass('add-theorder-show');
        openModal3();

})
})


//don hang
function openModal4() {
  document.getElementById('myModal4').style.display = 'flex';
}
function closeModal4() {
  document.getElementById('myModal4').style.display = 'none';
}
window.onclick = function(event) {
  if (event.target == document.getElementById('myModal4')) {
      closeModal4();
  }
};

$(document).ready(function(){
  $('li').click(function(){
    $(this).addClass('active').siblings().removeClass('active');
  });

$('button.btn--add-cate').click(function(){
        $('.add-category').removeClass('add-category').addClass('add-category-show');
        openModal4();

})
})
</script>

</body>
</html>