*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}

/* Phần Header*/
#nav{
  display: inline-block;
}

#header{
  height: 46px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


#nav, .subnav{
  list-style: none;
}
#nav > li{
  display: inline-block;
}
#nav li{
  position: relative;
}

#nav > li > a{
  color: #fff;
  text-transform: uppercase;
}

#nav li a{
  text-decoration: none;
  line-height: 46px;
  padding: 0 20px;
  display: block;
}
#nav li:hover .subnav{
  display: block;
}

#nav > li:hover > a{
  color: #000;
  background-color: #ccc;
}

#nav .subnav{
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
  color: #000;
}
#nav .subnav li:hover{
  color: #000;
  background-color: #ccc;
  opacity:1;
}

/* Phần ICON*/
#header .search-btn{
  float: right;
  padding: 0 10px;
  cursor: pointer;
}
#header .search-btn:hover{
  background-color: #f44336;
}
#header .search-icon{
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
/* user */
#header .user-btn{
  float: right;
  padding: 0 10px;
  cursor: pointer;
}
#header .user-btn:hover{
  background-color: #f44336;
}
#header .user-icon{
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
/* shopping */
#header .shopping-btn{
  float: right;
  padding: 0 10px;
  cursor: pointer;
}
#header .shopping-btn:hover{
  background-color: #f44336;
}
#header .shopping-icon{
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

/*footer*/

#footer{
  background-color: black;
  padding: 30px 5px;
  text-align: center;

}

#footer .anhbia-img{
 width: 500px;

}
#footer p{
  color: #ccc;
  margin-top: 20px;
  margin-bottom: 10px;
}
#footer .socical-list{
  font-size: 30px;
  padding: 0 10px;

}
#footer .socical-list a{
  color: #ccc;
  text-decoration: none;
}
#footer .socical-list a:hover{
  color: gray;
}
/* form */
#form{
  background-color: #fff;
  margin-top: 46px;
  height: 400px;
  padding: 0 300px;

}
.auth-form{
  margin-top: 46px;
  height: 400px;

}
.auth-form__container{
  height: 350px;
  width: 900px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 350px 450px;
  border: 1px solid grey;
  background-color: #d7d6d6;
}
.auth-form__header{
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 150px;
  margin-right: 100px;
}
.auth-form__switch-btn{
  font-size: 10px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
.auth-form__form{
  margin-top: 20px;
  margin-right: 300px;
}
.auth-form__input{
  width: 500px;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  border: 1px solid grey;
  border-radius: 1.2px;
}
.auth-form__controls{
  margin-top: 16px;
}
.btn--signup {
  color: #fff;
  background-color: #1f1f1f;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  border: #1f1f1f;
}
.btn--signup:hover{
  background-color: #3f3a3a;
}
.auth-form__icon{
  margin-top: 16px;
}
.btn--withicon{
  text-decoration: none;
  color: #000;
  font-size: 12px;
}




